@import '../../styles/variables';

.my-archive-container{
  padding: 0 10px;
  .report-container{
    display:flex;
    flex-direction: column;
    .report-item{
      display: flex;
      margin-top: 10px;
      border-bottom: 1px $brown solid;
      height: 160px;
      .report-item-image{
        img{
          height: 150px;
          padding: 10px;
        }
      }
      .report-item-text{
        padding: 10px;
        
        h1 {
          font-size: 1.5rem;
          font-weight: 500;
          padding-bottom: 10px;
          
        }
        h2 {
          display: -webkit-box;
          line-height: 1.2;

          max-width: 400px;
          -webkit-line-clamp: 5;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
  }
}