@import '../../styles/variables';

.book-info-container {
  padding: 10px;
  .book-cover {
    display: flex;
    justify-content: center;
  }
  .book-primary-info {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .book-description {
    overflow: hidden;
    text-overflow: 일립시스;
    white-space: no-wrap;
  }

  img {
    width: 50%;
  }
  h1 {
    font-size: 1.5rem;
    padding: 1rem;
    font-weight: 800;
    color: $deep-brown;
  }
  p {
    padding: 0.5rem;
  }
}
