@import '../../../styles/variables';

.user-profile-container {
  padding: 1rem;
  .user-profile {
    display: flex;
    // flex-direction: row;
    // align-items: ;

    .profile-img {
      margin-inline-end: 20px;
      writing-mode: horizontal-tb;
    }
    .profile {
      flex: 2;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .profile-user {
        display:flex;
        margin-top: 5px;
        margin-bottom: 5px;
        h2 {
          font-size: 1.3rem;
          margin-right: 10px;
        }
      }


      .profile-button {
        display: flex;
        justify-content: end;
        
      }
    }
  }
  img {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
  }
  button {
    // margin: 0;
    padding: 0rem 1rem;
    margin-inline-end: 0.5rem;

    font-family: NEXON;
    font-size: 0.8rem;
    font-weight: 400;
    color: $beige;
    text-decoration: none;
    align-content: center;
    

    display: inline-block;
    width: auto;
    height: 30px;

    border: none;

    background: $brown;
    border-radius: 25px;
  }
}
