@import '../../styles/variables';

.my-place-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  color: $deep-brown;
  font-size: 1.5rem;
  font-weight: 800;

  .my-place-header-icon-container {
    display: flex;

    .my-place-header-icon-item {
      display: flex;
      align-items: center;
      margin-left: 20px;
    }
  }
}
