@import '../styles/variables';
.loading-container{
  width: 100vw;
  min-height: 100vh;
  max-width: 600px;
  overflow-x: hidden;
  padding-bottom: 6rem;
  background-color: $beige;
  .loading-item{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  img {
    width: 30%;

  }

}