@import '../../styles/variables';

.place-recommend-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
}

.place-container {
  // display: grid;
  // grid-template-rows: 3fr 1fr;
  height: 14rem;
  margin-bottom: 1.5rem;

  img {
    width: 100%;
    aspect-ratio: 4 / 1;
    object-fit: cover;
  }

  h6 {
    font-size: 0.9rem;
    // line-height: 1rem;
    font-weight: 200;
    color: black;
    padding: 0.5rem;
    margin-left: 1rem;
  }
  h2 {
    display: flex;
    align-items: center;
    padding: 0.5rem;

    font-size: 1.1rem;
    font-weight: 600;
    color: $deep-brown;
  }

  .line {
    background-color: #d9d9d9;
    height: 1px;
    margin-top: 1rem;
    margin-bottom: 2rem;
  }
}
