@import '../../styles/variables';

.book-shelf-container {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  justify-content: center;

  .book-item {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height: 100%;

    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    img {
      width: 90%;
      // height: 100%;
      aspect-ratio: 2 / 3;
      padding: 0.5rem;
      object-fit: cover;
    }
    h2 {
      width: 80%;
      font-size: 0.8rem;
      // padding: 0.5rem;
      height: 1.5rem;

      display: -webkit-box;
      max-width: 400px;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
