@import '../../styles/variables';

.header-container {
  display: flex;
  // justify-content: space-between;
  align-items: center;
  padding: 1rem;

  color: $deep-brown;
  font-size: 2rem;
  font-weight: 800;
}
