@import '../../styles/variables';
.location-container {
  margin-left: 1rem;
  font-family: 'NEXON';
  h2 {
    display: flex;
    align-items: center;
    font-size: 1.1rem;
    font-weight: 600;
  }
}
h6 {
  font-size: 0.9rem;
  line-height: 1.5rem;
  font-weight: 200;
  color: black;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.components-dropdown > ul {
  position: relative;
  top: 5px;
  margin-top: 0;
  margin-bottom: 5px;
  padding-left: 0;
  list-style: none;
}
.ant-dropdown-menu-title-content{
  font-family: 'NEXON';
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.ant-dropdown-menu{
  width: 12rem;
}